<div class="container">
    <h1><b>Information Technology News</b></h1>
    <p>Stay updated with the latest tech news.</p>

    <div class="row">
        <div class="col-md-12">
            <div class="news-container">
                <div class="news-item" *ngFor="let news of itsectorNews; let last = last">
                    <div class="news-wrapper">
                        <img [src]="news.image" alt="News Image" class="news-image">
                        <div class="news-content-wrapper">
                            <div class="news-details">
                                <h2 class="news-title"><b>{{ news.title }}</b></h2>
                                <p class="news-content">
                                    ==> {{ news.content }}
                                </p>
                                <div class="news-link">
                                    <a href="{{ news.link }}"><b>Full Coverage 📰</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer" *ngIf="!last"></div>
                </div>
            </div>
            <br>
            <div class="button">
                <div class="col-md-6">
                    <a class="btn btn-primary" routerLink="/news">Go to <u>Main News Page</u></a>
                </div>
                <br>
                <div class="col-md-6">
                    <a class="btn btn-primary" routerLink="/foreign-news">Go back to <u>Foreign Affairs Page</u></a>
                </div>
                <br>
                <div class="col-md-6">
                    <a class="btn btn-primary" routerLink="/medical-news">Go to <u>Health Page</u></a>
                </div>
            </div>
        </div>
    </div>
</div>