<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
</head>

<body>
  <header class="header">
    <h1 class="text-center">News</h1>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="category-btns">
          <a class="txt1" [routerLink]="['/business-news']"><button type="button" class="button">Business</button></a>
          <a class="txt2" [routerLink]="['/education-news']"><button type="button" class="button">Education</button></a>
          <a class="txt3" [routerLink]="['/entertainment-news']"><button type="button" class="button">Entertainment</button></a>
          <a class="txt4" [routerLink]="['/foreign-news']"><button type="button" class="button">Foreign Affairs</button></a>
          <a class="txt5" [routerLink]="['/itsector-news']"><button type="button" class="button">I.T. Sector</button></a>
          <a class="txt6" [routerLink]="['/medical-news']"><button type="button" class="button">Medical</button></a>
          <a class="txt7" [routerLink]="['/politics-news']"><button type="button" class="button">Politics</button></a>
          <a class="txt8" [routerLink]="['/space-news']"><button type="button" class="button">Space</button></a>
          <a class="txt9" [routerLink]="['/sports-news']"><button type="button" class="button">Sports</button></a>
          <a class="txt11" [routerLink]="['/weather-news']"><button type="button" class="button">Weather</button></a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3>NATIONAL HEADLINES</h3>
        </div>
      </div>
    </div>

    <div class="row mb-4 mt-4">
      <div class="col-sm-6 col-md-4 news-card">
        <div class="position-relative image-hover">
          <div class="imageContainer">Train Accident in Orissa 🚅🚃</div>
          <br>
          <div class="imagewrapper1">
            <img src="assets/new_images/newspage/first.jpg" class="img-position" alt="News" />
          </div>
        </div>
        <div class="title">
          <div class="sub-title">
            <a>A three-train collision occurred in Odisha's Balasore on 4th June 2023, resulting in at least....</a>
          </div>
          <h5 class="font-weight-600 mt-3 main-title">
            <a href="https://timesofindia.indiatimes.com/india/odisha-coromandel-express-train-accident-news-live-several-dead-injured-as-odisha-bahanaga-train-derails-june-4/liveblog/100733123.cms"
              target="_blank">Full
              Coverage 📰</a>
          </h5>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 news-card">
        <div class="position-relative image-hover">
          <div class="imageContainer">Himachal Pradesh gets flooded ⛰♒</div>
          <br>
          <div class="imagewrapper1">
            <img src="assets/new_images/newspage/third.webp" class="img-position" alt="News" />
          </div>
        </div>
        <div class="title">
          <div class="sub-title">
            <a>Heavy rainfall in Himachal Pradesh has caused landslides, floods, resulting in loss of lives
              and blockage of roads....</a>
          </div>
          <h5 class="font-weight-600 mt-3 main-title">
            <a href="https://timesofindia.indiatimes.com/city/delhi/rains-news-live-updates-monsoon-imd-alert-rain-fall-schools-closed-floods-landslides-traiins-cancelled-in-india-today/liveblog/101622770.cms"
              target="_blank">Full Coverage 📰</a>
          </h5>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 news-card">
        <div class="position-relative image-hover">
          <div class="imageContainer">Nothing Phone 2 Launch Live 🔴📱</div>
          <br>
            <div class="imagewrapper1">
            <img src="assets/new_images/newspage/fourth.jpg" class="img-position" alt="News" />
          </div>
        </div>

        <div class="title">
          <div class="sub-title">
            <a>The long wait is finally over, Nothing is finally ready to
              launch the Phone 2 on July 11.</a>
          </div>
          <h5 class="font-weight-600 mt-3 main-title">
            <a href="https://www.xda-developers.com/how-to-watch-nothing-phone-2-launch/">Full Coverage 📰</a>
          </h5>
        </div>
      </div>
      <br>
      <div class="col-sm-6 col-md-4 news-card">
        <div class="position-relative image-hover">
          <div class="imageContainer">Adani-Hindenburg Case ⚖ </div>
          <br>
          <div class="imagewrapper1">
            <img src="assets/new_images/newspage/sixth.jpg" class="img-position" alt="News" />
          </div>
        </div>
        <div class="title">
          <div class="sub-title">
            <a>Adani Group, one of India's largest company, recently lost tens of billions of dollars in market
              value. <br>An American investing group called Hindenburg Research accused the company of fraud in a report
              last month.</a>
          </div>
          <h5 class="font-weight-600 mt-3 main-title">
            <a href="https://www.livemint.com/news/india/adanihindenburg-case-sebi-files-affidavit-seeks-appropriate-orders-from-sc-11688979881371.html"
              target="_blank">Full Coverage 📰</a>
          </h5>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 news-card">
        <div class="position-relative image-hover">
          <div class="imageContainer">S. Jaishankar files Rajya Sabha 🏛</div>
          <br>
          <div class="imagewrapper1">
            <img src="assets/new_images/newspage/seventh.jpg" class="img-position" alt="News" />
          </div>
        </div>
        <div class="title">
          <div class="sub-title">
              <a>In the four-year tenure as a Rajya Sabha Member of Parliament, the total assets of Union External Affairs
                Minister S
                Jaishankar and his spouse grew by 29.4 per cent that includes the acquisition of an apartment at Vasant
                Vihar in New
                Delhi.</a>
          </div>
          <h5 class="font-weight-600 mt-3 main-title">
            <a href="https://indianexpress.com/article/cities/ahmedabad/s-jaishankar-assets-jaishankar-2019-affidavit-external-salary-and-income-8824871/"
              target="_blank">Full Coverage 📰</a>
          </h5>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 news-card">
        <div class="position-relative image-hover">
          <div class="imageContainer">ISRO used Failure Design-Chandrayaan-3 🚀🌑</div>
          <br>
          <div class="imagewrapper1">
            <img src="assets/new_images/newspage/eight.avif" class="img-position" alt="News" />
          </div>
        </div>
        <div class="title">
          <div class="sub-title">
              <a>Chandrayaan-3, set for lift-off at 2:35 pm on July 14, will be a follow-up mission after the crash-landing of
                Chandrayaan-2 in September 2019 due to a software glitch.</a>
          </div>
          <h5 class="font-weight-600 mt-3 main-title">
            <a href="https://www.ndtv.com/india-news/chandrayaan-3-isro-opted-for-a-failure-based-design-in-chandrayaan-3-heres-why-4194568"
              target="_blank">Full
              Coverage 📰</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</body>

</html>