.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11rem !important;
  }
  
  .img-fluid1 {
    object-fit: fill;
    width: 100%;
    height: 230%;
  }
  .title{
    font-size: 1.5rem;
  }
  .content{
    margin-top: 7rem;
  }

  .pdf_text{
    a{
      color: white;
    }
  }
  .pdf_container{
    padding-top: .5rem !important;
    padding-bottom: .2rem !important;
  }
  .pdf-icon{
    font-size: 1.8rem;
    color: red;
    padding: 0 .5rem;
  }

  @media (max-width:767px) {
    .image-container {
      width: 100%;
      height: auto;
      margin-top: 1rem !important;
    }
    .content{
      margin-top: -1rem;
    }
  }