<div class="limiter">
    <!-- <div class="container-login100" style="background-image: url('../../../assets/images/Franchise-Pharma-company.jpg');"> -->
    <div class="container-login100">
        <div class="wrap-login100">
            <form [formGroup]="resetPswForm" (ngSubmit)="resetPsw()" class="login100-form validate-form">
                <span class="login100-form-logo">
                    <!-- <i class="zmdi zmdi-settings"></i> -->
                    <i class="fa fa-lock icon-stack-3x"></i>
                    <i class="fa fa-question icon-stack-1x"></i>
                </span>
                <span class="login100-form-title p-b-34 p-t-27">
                    Reset Password
                </span>
                <div class="wrap-input100 validate-input" >
                    <input 
                        class="input100" 
                        type="text" 
                        formControlName="email" 
                        placeholder="Email id"
                        readonly
                    />
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    <div *ngIf="submitted && f.email.errors">
                        <div *ngIf="f.email.errors.required" class="alert-validate" data-validate="Please Enter Email Id"></div>
                        <div *ngIf="f.email.errors.email" class="alert-validate" data-validate="Please Enter Valid Email Id"></div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input">
                    <input 
                        class="input100" 
                        type="password" 
                        formControlName="new_password" 
                        placeholder="New Password" 
                    />
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <div *ngIf="submitted && f.new_password.errors">
                        <div *ngIf="f.new_password.errors.required" class="alert-validate" data-validate="Please Enter New Password"></div>
                        <div *ngIf="f.new_password.errors.minlength" class="alert-validate" data-validate="Password Must Be At Least 6 Characters"></div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input">
                    <input 
                        class="input100" 
                        type="password" 
                        formControlName="confirm_password" 
                        placeholder="Password"
                    />
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <div *ngIf="submitted && f.confirm_password.errors">
                        <div *ngIf="f.confirm_password.errors.required" class="alert-validate" data-validate="Please Retype New Password"></div>
                        <div *ngIf="f.confirm_password.errors.mustMatch" class="alert-validate" data-validate="Passwords Must Match"></div>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Reset password</button>
                </div>

                <!-- <div class="text-center p-t-40">
                    <a class="txt1" href="#">I want to Log In</a>
                </div> -->
            </form>
        </div>
    </div>
</div>
