<div class="limiter">
    <!-- <div class="container-login100" style="background-image: url('../../../assets/images/Franchise-Pharma-company.jpg');"> -->
    <div class="container-login100">
        <div class="wrap-login100">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="login100-form validate-form">
                <span class="login100-form-logo">
                    <!-- <i class="zmdi zmdi-settings"></i> -->
                    <i class="fa fa-lock icon-stack-3x"></i>
                    <i class="fa fa-question icon-stack-1x"></i>
                </span>
                <span class="login100-form-title p-b-34 p-t-27">
                    Forgot Password
                </span>
                <div class="wrap-input100 validate-input" >
                    <input 
                        class="input100" 
                        type="text" 
                        formControlName="email" 
                        placeholder="Email id"
                    />
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    <div *ngIf="submitted && f.email.errors">
                        <div *ngIf="f.email.errors.required" class="alert-validate" data-validate="Please enter email id"></div>
                        <div *ngIf="f.email.errors.email" class="alert-validate" data-validate="Please enter valid email id"></div>
                    </div>
                </div>

                <div class="wrap-input100" *ngIf="isEmailExist">
                    <input 
                        class="input100" 
                        type="number" 
                        formControlName="otp" 
                        placeholder="OTP" 
                    />
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <!-- <div *ngIf="submitted && f.otp.errors">
                        <div *ngIf="f.otp.errors.required" class="alert-validate" data-validate="OTP"></div>
                    </div> -->
                </div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">{{ msg }}</button>
                </div>

                <div class="text-center p-t-40">
                    <a class="txt1" [routerLink]="'/login'">I want to Log In</a>
                </div>
            </form>
        </div>
    </div>
</div>

